input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button{
    margin-top: 10px;
    padding: 5px 16px;
    margin-right: 5px;
    border-radius: 8px;
    border: #c0c0c0 solid 1px;
   
}

.btn1{
    background: #da440a;
    color: #ffff;
    border: none;
    border-radius: 8px;
}

.btn2{
  background: #da440a;
  color: #ffff;
  border: none;
  border-radius: 8px;
  
}
